/*
* 嘉宾简介部分样式表
*/
/*.guestHeader {
	height:60px;
	width: 100%;
	line-height: 60px;
	text-align: center;
	background-color: #e51515;
}
.guestHeader img {
	height: 32px;
}*/
html,body{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	padding: 8px;
}
.gusetIntro{
	width: 100%;
	background-color: #ffffff;
	padding: 8px 12px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.content{
	width: 100%;
	margin-bottom: 8px;
}
.name{
	font-size: 20px;
	/*margin-right: 38px;*/
	/*vertical-align: top;*/
}
/*.post{
	width: 56%;
	display: inline-block; 
	word-break:break-all;
	vertical-align: bottom;
	margin-top: 5px;
}*/
/*.company{
	margin-top: 32px;
}*/